@mixin body {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
@mixin srednja_verzija {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mala_verzija {
    @media screen and (max-width: 425px) {
        @content;
    }
}

    